@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/light";

.app {
    font: var(--font-m);
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    transition: background-color 200ms;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 2rem;
}
