.SidebarItem {

}

.link {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
        width: 30px;
        height: 30px;
        fill: var(--inverted-primary-color);
        margin-right: 0.5rem;
    }

    > span {
        opacity: 1;
    }
}

.collapsed {
    flex-direction: column;
    
    .icon {
        margin: 0;
    }

    > span {
        opacity: 0;
        transition: 100ms opacity ease-in;
    }

}
