.app_light_theme {
    --bg-color: rgb(255 255 255);
    --inverted-bg-color: rgb(11 4 16);
    --primary-color: rgb(11 4 16);
    --secondary-color: rgb(58 0 97);
    --inverted-primary-color: rgb(255 255 255);
    --inverted-secondary-color: rgb(141 0 0);
}

/* .app.light */
