.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;

    .features {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .loginBtn {
        margin-left: auto;
    }
}
