.btn {
    display: flex;
    align-items: center;
    justify-content: center;
  button {
    padding: 5px;
    color: var(--bg-color);
    background-color:var(--primary-color);
    border: transparent;
    margin-left: 10px;
    width: 30px;
    height: 25px;
  }
}
