.ProfileCard {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
    border: 2px solid var(--primary-color);
    height: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;

    .data {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }

    .avatarWrapper {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        justify-content: flex-start;
        width: 100%;
    }

    .input {
        width: 100%;
    }
}

.loadingOrError {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    border: 2px solid var(--primary-color);
    height: 20rem;
}
