.LoginForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error {
    color: red;
}
